@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
* {
	font-family: 'Jersey 15', sans-serif;
	font-weight: 400;
  	font-style: normal;
}
.first-color { 
	background: #222831; 
}
	
.second-color { 
	background: #393e46; 
}

.third-color { 
	background: #f96d00; 
}

.fourth-color { 
	background: #f2f2f2; 
}

.white-mode{
	background: #fff;
	color: black;
}